.header{
    background-image: url("../imgs/bg-header");
    width: 100%;
    position: relative;
    top: 0;
    height: $height-header;
   @include flexbox(left,center);
    
   @include bg-image();
    .person{
        position: absolute;
        width : 590px;
        height :650px;
        right:0;
        top : 90%;
        z-index: 1;
    }
   .header-inner{
    height: $height-header;
    @include bg-image();
    }
    &__img{
        height: $height-header; 
    }
        
    .logo{
        position:absolute;
        margin-top: 117px;
        background-image: url("../imgs/logo-text");
    }

    &__text{
        position:absolute;
        margin-top: 430px;
        font-size: 1.6rem;
        @include flexbox(center,center);
        flex-direction:column;
        
        &-center{
            margin-top: 30px;
            color: $text-white;
            font-size: 3.6rem;
            text-transform: uppercase;
        }
        
        &-bottom{
            margin-top: 40px;
            color: $text-color;
            font-size: 2.4rem;
        }
        
        &-top{
            @include flexbox(center,center,nowrap);
            gap:7px;
            color: $text-white;
            h3{
                font-size: 6rem;
            }
        }
        &-footer{
            @include flexbox(center,center,nowrap);
            flex-direction: column;
            margin-top: 336px;
            color: $text-color;
            font-size: 1.6rem;
            gap : 1.5rem;
            img{
                width: 2rem;
                height: 1rem;
            }
        }

    }
    
}
