$primary-color : #1a1c0f;
$text-color : #cdb378;
$text-white : #fff;
$height-header : 1065px;

@mixin flexbox($align : start,$justify : flex-start,$wrap : wrap) {
    display : flex;
    align-items : $align;
    justify-content: $justify;
    flex-wrap: $wrap;
} 

@mixin bg-image() {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width : 100%;
} 
