@import '_variable';
@import '_header';


html{
    font-size: 62.5%;
}

.container{
    margin : 0 auto;
    max-width: 1570px;
    width : 100%;
}
.container-fluid{
    width : 100%;
}

.content__inner{
    position: relative;
}

.brewing-wrap{
    position:absolute;
    top : 0;
    height : 355px;
    .brewing{
        margin-top : 110px;
        &__title{
            font-size: 7rem;
            color : $text-white;
        }
        &__des{
            font-size: 2.4rem;
            color : $text-color;
            margin-top: 30px;
        }
    }
    
}

.quality-wrap{
    // margin-top: 130px;
    height : 500px;
    position: absolute;
    top : 400px;
    width : 100%;
    z-index: 2;
    img.quality-img{
        max-width: 1730px;
        width : 100%;
    }
    .quality__text{
        position :absolute;
        top : 0;
        margin-top: 100px;
        max-width:1000px;
        h3{
            color : $text-color;
            font-size: 7.2rem;
            text-transform:  uppercase;
        }
        p{
            margin-top: 50px;
            font-size: 2.4rem;
            color:$text-color;
            line-height: 3.6rem;
        }
        button{
            margin-top: 60px;
            width: 225px;
            height : 55px;
            border : 1px solid $text-color;
            color : $text-white;
            background-color : #272a18;
        }
    }
    &.hancra{
        top : 1400px;
        h3{
            max-width : 500px;
        }
        p{
            max-width:  660px;
        }
    }
    &.journey{
        .container{
            @include flexbox(center,center);
        }
        top : 2500px;
        text-align:center;
    }
    .image{
        position: relative;
        &__text{
            position: absolute;
            top: 325px;
            right: 250px;
            font-size: 6rem;
            color : #000;
            max-width:530px;
            text-transform: uppercase;
            line-height: 6.5rem;
        }
        .beer{
            height: 900px;
            width: 260px;
            position: absolute;
            bottom:700px;
            right: 465px;
            z-index: 3;
            &-yellow{
                position: absolute;
                width: 900px;
                height: 900px;
                top : 700px;
                right:0;
            }
        }
    }
}