.header {
  background-image: url("../imgs/bg-header");
  width: 100%;
  position: relative;
  top: 0;
  height: 1065px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-wrap: wrap;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 100%;
}
.header .person {
  position: absolute;
  width: 590px;
  height: 650px;
  right: 0;
  top: 90%;
  z-index: 1;
}
.header .header-inner {
  height: 1065px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 100%;
}
.header__img {
  height: 1065px;
}
.header .logo {
  position: absolute;
  margin-top: 117px;
  background-image: url("../imgs/logo-text");
}
.header__text {
  position: absolute;
  margin-top: 430px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.header__text-center {
  margin-top: 30px;
  color: #fff;
  font-size: 3.6rem;
  text-transform: uppercase;
}
.header__text-bottom {
  margin-top: 40px;
  color: #cdb378;
  font-size: 2.4rem;
}
.header__text-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 7px;
  color: #fff;
}
.header__text-top h3 {
  font-size: 6rem;
}
.header__text-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 336px;
  color: #cdb378;
  font-size: 1.6rem;
  gap: 1.5rem;
  text-align: center;
}
.header__text-footer img {
  width: 2rem;
  height: 1rem;
}

html {
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  max-width: 1570px;
  width: 100%;
}

.container-fluid {
  width: 100%;
}

.content__inner {
  position: relative;
}

.brewing-wrap {
  position: absolute;
  top: 0;
  height: 355px;
}
.brewing-wrap .brewing {
  margin-top: 110px;
}
.brewing-wrap .brewing__title {
  font-size: 7rem;
  color: #fff;
}
.brewing-wrap .brewing__des {
  font-size: 2.4rem;
  color: #cdb378;
  margin-top: 30px;
}

.quality-wrap {
  height: 500px;
  position: absolute;
  top: 400px;
  width: 100%;
  z-index: 2;
}
.quality-wrap img.quality-img {
  max-width: 1730px;
  width: 100%;
}
.quality-wrap .quality__text {
  position: absolute;
  top: 0;
  margin-top: 100px;
  max-width: 1000px;
}
.quality-wrap .quality__text h3 {
  color: #cdb378;
  font-size: 7.2rem;
  text-transform: uppercase;
}
.quality-wrap .quality__text p {
  margin-top: 50px;
  font-size: 2.4rem;
  color: #cdb378;
  line-height: 3.6rem;
}
.quality-wrap .quality__text button {
  margin-top: 60px;
  width: 225px;
  height: 55px;
  border: 1px solid #cdb378;
  color: #fff;
  background-color: #272a18;
}
.quality-wrap.hancra {
  top: 1400px;
}
.quality-wrap.hancra h3 {
  max-width: 500px;
}
.quality-wrap.hancra p {
  max-width: 660px;
}
.quality-wrap.journey {
  top: 2500px;
  text-align: center;
}
.quality-wrap.journey .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.quality-wrap .image {
  position: relative;
}
.quality-wrap .image__text {
  position: absolute;
  top: 325px;
  right: 250px;
  font-size: 6rem;
  color: #000;
  max-width: 530px;
  text-transform: uppercase;
  line-height: 6.5rem;
}
.quality-wrap .image .beer {
  height: 900px;
  width: 260px;
  position: absolute;
  bottom: 700px;
  right: 465px;
  z-index: 3;
  object-fit: contain;
}
.quality-wrap .image .beer-yellow {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 700px;
  right: 0;
}

@media screen and (max-width: 1585px) {
  .container {
    max-width: 1300px;
  }
  .header {
    height: 1000px !important;
  }
  .header .header__img {
    height: 1000px;
  }
  .header .header__text-footer {
    margin-top: 270px;
  }
  .header .person {
    width: 570px;
    height: 600px;
    top: 95%;
  }
  .quality-wrap img.quality-img {
    max-width: 1400px;
    width: 100%;
  }
  .quality-wrap .image .beer {
    bottom: 572px;
    height: 940px;
  }
  .quality-wrap {
    height: 495px;
  }
  .quality-wrap .quality-img {
    height: 100%;
  }
  .quality-wrap .image .beer-yellow {
    position: absolute;
    width: 750px;
    height: 755px;
    top: 615px;
    right: 0;
  }
  .header__text-top h3 {
    font-size: 5rem;
  }
  .header__text-center {
    font-size: 2.6rem;
  }
  .header__text-bottom {
    font-size: 2rem;
  }
  .brewing-wrap .brewing, .quality__text {
    max-width: 660px !important;
  }
  .brewing-wrap .brewing__title, .quality-wrap .quality__text h3 {
    font-size: 5rem;
    color: #fff;
  }
  .brewing-wrap .brewing__des, .quality-wrap .quality__text p {
    font-size: 2rem;
    color: #cdb378;
    margin-top: 30px;
    line-height: 1.4 !important;
  }
  .quality__text.hancra, .quality__text.journey {
    margin-top: 0;
  }
  .quality-wrap.journey {
    top: 2382px;
    text-align: center;
  }
  .quality-wrap .image__text {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 1460px) {
  .container {
    max-width: 1150px;
  }
  .header {
    height: 800px !important;
  }
  .header .header__img {
    height: 800px;
  }
  .header .header__text-footer {
    margin-top: 160px;
  }
  .header .person {
    width: 570px;
    height: 600px;
    top: 95%;
  }
  .header .header__text {
    margin-top: 400px;
  }
  .quality-wrap img.quality-img {
    max-width: 1300px;
    width: 100%;
  }
  .quality-wrap .image .beer {
    bottom: 572px;
    height: 940px;
  }
  .quality-wrap {
    height: 495px;
  }
  .quality-wrap .quality-img {
    height: 100%;
  }
  .quality-wrap .image .beer-yellow {
    position: absolute;
    width: 750px;
    height: 755px;
    top: 615px;
    right: 0;
  }
  .header__text-top h3 {
    font-size: 5rem;
  }
  .header__text-center {
    font-size: 2.6rem;
  }
  .header__text-bottom {
    font-size: 2rem;
  }
  .brewing-wrap .brewing, .quality__text {
    max-width: 522px !important;
  }
  .brewing-wrap .brewing__title, .quality-wrap .quality__text h3 {
    font-size: 5rem;
    color: #fff;
  }
  .brewing-wrap .brewing__des, .quality-wrap .quality__text p {
    font-size: 2rem;
    color: #cdb378;
    margin-top: 30px;
    line-height: 1.4;
  }
  .quality__text.hancra, .quality__text.journey {
    margin-top: 0;
  }
  .quality-wrap.journey {
    top: 2382px;
    text-align: center;
  }
  .quality-wrap .image__text {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 1305px) {
  .container {
    max-width: 920px !important;
  }
  .header {
    height: 800px !important;
  }
  .header .header__img {
    height: 800px;
  }
  .header .header__text-footer {
    margin-top: 160px;
  }
  .header .person {
    width: 450px;
    height: 450px;
    top: 95%;
  }
  .header .header__text {
    margin-top: 400px;
  }
  .quality-wrap img.quality-img {
    max-width: 1150px;
  }
  .quality-wrap .image .beer {
    bottom: 520px;
    height: 850px;
    width: 210px;
    right: 345px;
  }
  .quality-wrap .image__text {
    position: absolute;
    top: 195px;
    right: 68px;
    font-size: 5rem;
    color: #000;
    max-width: 500px;
    text-transform: uppercase;
    line-height: 6.5rem;
  }
  .quality-wrap {
    height: 495px;
    top: 330px;
  }
  .quality-wrap .quality-img {
    height: 100%;
  }
  .quality-wrap .image .beer-yellow {
    position: absolute;
    width: 565px;
    height: 565px;
    top: 515px;
    right: 0;
  }
  .quality-wrap.hancra {
    top: 1150px;
  }
  .header__text-top h3 {
    font-size: 5rem;
  }
  .header__text-center {
    font-size: 2.6rem;
  }
  .header__text-bottom {
    font-size: 2rem;
  }
  .brewing-wrap .brewing, .quality__text {
    max-width: 522px !important;
  }
  .brewing-wrap .brewing__title, .quality-wrap .quality__text h3 {
    font-size: 4rem;
    color: #fff;
  }
  .brewing-wrap .brewing__des, .quality-wrap .quality__text p {
    font-size: 1.9rem;
    color: #cdb378;
    margin-top: 30px;
    line-height: 1.4;
  }
  .quality__text.hancra, .quality__text.journey {
    margin-top: 0;
  }
  .quality-wrap.journey {
    top: 2030px;
    text-align: center;
  }
  .quality-wrap .image__text {
    font-size: 5.5rem;
  }
  .quality__text.journey {
    max-width: 550px !important;
  }
}
@media screen and (max-width: 1150px) {
  .container {
    max-width: 920px !important;
  }
  .header {
    height: 800px !important;
  }
  .header .header__img {
    height: 800px;
  }
  .header .header__text-footer {
    margin-top: 160px;
  }
  .header .person {
    width: 450px;
    height: 450px;
    top: 95%;
  }
  .header .header__text {
    margin-top: 400px;
  }
  .header .header__text-top h3 {
    font-size: 4rem;
  }
  .header .header__text-center {
    font-size: 2rem;
  }
  .quality-wrap img.quality-img {
    max-width: 1000px;
  }
  .quality-wrap .image .beer {
    bottom: 445px;
    height: 850px;
    width: 210px;
    right: 345px;
  }
  .quality-wrap {
    height: 495px;
    top: 330px;
  }
  .quality-wrap .quality-img {
    height: 100%;
  }
  .quality-wrap .image .beer-yellow {
    position: absolute;
    width: 520px;
    height: 520px;
    top: 470px;
    right: 0;
  }
  .quality-wrap.hancra {
    top: 1055px;
  }
  .header__text-top h3 {
    font-size: 5rem;
  }
  .header__text-center {
    font-size: 2.6rem;
  }
  .header__text-bottom {
    font-size: 2rem;
  }
  .brewing-wrap .brewing, .quality__text {
    max-width: 440px !important;
  }
  .brewing-wrap .brewing__title, .quality-wrap .quality__text h3 {
    font-size: 4rem;
    color: #fff;
  }
  .brewing-wrap .brewing__des, .quality-wrap .quality__text p {
    font-size: 1.8rem;
    color: #cdb378;
    margin-top: 30px;
    line-height: 1.4;
  }
  .quality__text.hancra, .quality__text.journey {
    margin-top: 0;
  }
  .quality-wrap.journey {
    top: 2030px;
    text-align: center;
  }
  .quality-wrap .image__text {
    font-size: 5.5rem;
  }
  .quality-wrap .image__text {
    font-size: 4.5rem;
    max-width: 450px;
  }
}
@media screen and (max-width: 999px) {
  .container {
    max-width: 850px !important;
  }
  .header {
    height: 600px !important;
  }
  .header .header__img {
    height: 600px;
  }
  .header .header__text-footer {
    margin-top: 80px;
  }
  .header .person {
    width: 400px;
    height: 400px;
    top: 95%;
  }
  .header .header__text {
    margin-top: 300px;
  }
  .header .header__text-top h3 {
    font-size: 3rem;
  }
  .header .header__text-center {
    font-size: 1.8rem;
  }
  .quality-wrap img.quality-img {
    max-width: 820px;
  }
  .quality-wrap .image .beer {
    bottom: 366px;
    height: 850px;
    width: 210px;
    right: 295px;
  }
  .quality-wrap {
    height: 495px;
    top: 310px;
  }
  .quality-wrap .quality-img {
    height: 100%;
  }
  .quality-wrap .image .beer-yellow {
    position: absolute;
    width: 480px;
    height: 500px;
    top: 385px;
    right: 0;
  }
  .quality-wrap.hancra {
    top: 1010px;
  }
  .header__text-top h3 {
    font-size: 5rem;
  }
  .header__text-center {
    font-size: 2.6rem;
  }
  .header__text-bottom {
    font-size: 2rem;
  }
  .brewing-wrap .brewing, .quality__text {
    max-width: 522px !important;
  }
  .brewing-wrap .brewing__title, .quality-wrap .quality__text h3 {
    font-size: 3rem;
    color: #fff;
  }
  .brewing-wrap .brewing__des, .quality-wrap .quality__text p {
    font-size: 1.8rem;
    color: #cdb378;
    margin-top: 30px;
    line-height: 1.4;
  }
  .quality__text.hancra, .quality__text.journey {
    margin-top: 0;
  }
  .quality-wrap.journey {
    top: 1850px;
    text-align: center;
  }
  .quality-wrap .image__text {
    font-size: 5.5rem;
  }
  .quality-wrap.journey {
    top: 1800px;
    text-align: center;
  }
  .brewing-wrap .brewing, .quality__text {
    max-width: 370px !important;
  }
  .quality-wrap .image__text {
    font-size: 3.5rem;
    max-width: 320px;
    top: 130px;
  }
}
@media screen and (max-width: 820px) {
  .container {
    max-width: 700px !important;
  }
  .header {
    height: 500px !important;
  }
  .header .header__img {
    height: 500px;
  }
  .header .logo {
    margin-top: 25px;
  }
  .header .header__text-footer {
    margin-top: 80px;
  }
  .header .person {
    width: 400px;
    height: 400px;
    top: 95%;
  }
  .header .header__text {
    margin-top: 208px;
  }
  .header .header__text-top h3 {
    font-size: 3rem;
  }
  .header .header__text-center {
    font-size: 1.8rem;
  }
  .quality-wrap img.quality-img {
    max-width: 700px;
  }
  .quality-wrap .image .beer {
    bottom: 225px;
    object-fit: contain;
    height: 780px;
    width: 150px;
    right: 290px;
  }
  .quality-wrap {
    height: 400px;
    top: 310px;
  }
  .quality-wrap .quality-img {
    height: 100%;
  }
  .quality-wrap .image .beer-yellow {
    position: absolute;
    width: 480px;
    height: 500px;
    top: 385px;
    right: 0;
  }
  .quality-wrap.hancra {
    top: 1010px;
  }
  .header__text-top h3 {
    font-size: 5rem;
  }
  .header__text-center {
    font-size: 2.6rem;
  }
  .header__text-bottom {
    font-size: 2rem;
  }
  .brewing-wrap .brewing, .quality__text {
    max-width: 522px !important;
  }
  .brewing-wrap .brewing__title, .quality-wrap .quality__text h3 {
    font-size: 3rem;
    color: #fff;
  }
  .brewing-wrap .brewing__des, .quality-wrap .quality__text p {
    font-size: 1.8rem;
    color: #cdb378;
    margin-top: 30px;
    line-height: 1.4;
  }
  .quality__text.hancra, .quality__text.journey {
    margin-top: 0;
  }
  .quality-wrap.journey {
    top: 1850px;
    text-align: center;
  }
  .quality-wrap .image__text {
    font-size: 5.5rem;
  }
  .quality-wrap.journey {
    top: 1800px;
    text-align: center;
  }
  .brewing-wrap .brewing, .quality__text {
    max-width: 260px !important;
  }
  .quality-wrap .image__text {
    font-size: 3.5rem;
    max-width: 320px;
    top: 130px;
  }
  .brewing-wrap .brewing {
    margin-top: 40px;
  }
  .quality-wrap .quality__text {
    position: absolute;
    top: 0;
    margin-top: 40px;
    max-width: 1000px;
  }
  .quality-wrap .quality__text.hancra {
    position: absolute;
    top: 0;
    margin-top: -178px;
    max-width: 1000px;
  }
  .quality-wrap .quality__text.journey {
    position: absolute;
    top: -132px;
  }
}/*# sourceMappingURL=main.css.map */